{% extends 'base.html' %}

{% block title %} View {% endblock %}

{% block view %} class='selected' {% endblock %}

{% block content %}
    <div class="getprofiles">
        <table cellpadding="10">
            <caption>
                <h2>Profiles List</h2>
            </caption>
        {% for r in rows %}
            <tr>
                <td>
                    <img src="{{r.photo.url}}" alt="image" height="80px" width="80px">
                    <p>
                        Full Name : {{r.fn}} {{r.ln}}<br>
                        Technologies : {{r.tech}}<br>
                        Email : {{r.email}}<br>
                        <button type="submit">
                            <a href="{% url 'delete' id %}">Delete</a>
                        </button>
                    </p>
                    
                    
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}